@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradient */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    font-family: 'Hanken Grotesk';
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.header {
    background: var(--light-royal-blue);
    height: 40vh;
    text-align: center;
    color: var(--white);
}

.content {
    padding: 16px;
}

.content__title {
    font-size: 18px;
    padding: 16px 0;
    font-weight: bold;
}

.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 16px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card p {
    line-height: 24px;
}

.card__info {
    display: flex;
}

.card__score span{
    font-weight: bold;
    padding-right: 4px;
}

.content__button {
    width: 100%;
    margin: 0 auto;
}
.content__button button {
    width: 100%;
    padding: 16px;
    background: var(--dark-gray-blue);
    color: var(--white);
    border: 0;
    border-radius: 37px;
    margin: 16px 0;
}



@media screen and (max-width: 1440px) {

}