@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%, 0.1);
    --orangey-yellow: hsl(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%, 0.1);
    /* Gradient */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    font-family: 'Hanken Grotesk';
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.header {
    background: linear-gradient(360deg, var(--light-royal-blue), var(--light-slate-blue) );
    height: 40vh;
    text-align: center;
    color: var(--white);
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header__title {
    font-size: 18px;
    font-weight: bold;
    color: var(--light-lavender);
}

.header__percent {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--light-royal-blue), var(--light-slate-blue) );
}

.header__percent div:nth-child(1) {
    font-size: 38px;
}

.content {
    padding: 16px;
}

.content__title {
    font-size: 18px;
    padding: 16px 0;
    font-weight: bold;
}

.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card:nth-child(1) {
    background: var(--light-red);
}

.card:nth-child(2) {
    background: var(--orangey-yellow);
}

.card:nth-child(3) {
    background: var(--green-teal);
}

.card:nth-child(4) {
    background: var(--cobalt-blue);
}

.card p {
    line-height: 24px;
}

.card__info {
    display: flex;
    font-weight: bold;
}

.card__info .name {
    padding-left: 8px;
}

.card__info .reaction {
    color: hsl(0, 100%, 67%);
}

.card__info .memory {
    color: hsl(39, 100%, 56%);
}

.card__info .verbal {
    color: hsl(166, 100%, 37%);
}

.card__info .visual {
    color: hsl(234, 85%, 45%);
}

.card__score {
    color: var(--light-lavender);
}

.card__score span{
    font-weight: bold;
    padding-right: 4px;
    color: #000000;
}

.content__button {
    width: 100%;
    margin: 0 auto;
}
.content__button button {
    width: 100%;
    padding: 16px;
    background: var(--dark-gray-blue);
    color: var(--white);
    border: 0;
    border-radius: 37px;
    margin: 16px 0;
}



@media screen and (max-width: 1440px) {

}